@mixin botones($color , $colorBg , $tamanio, $display){
    color: $color;
    background-color: $colorBg;
    font-size: $tamanio;
    display: $display;
}

/* .boton__servicio1{
    @include botones(black, white, 28px, block);
    border-radius: 16px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
} */

.boton__servicio1{
    @include botones(black, white, 24px, block);
    margin: auto;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  
.boton__servicio1:hover {
    background-color: #000000;
    color: white;
  }

  .boton__servicio2{
    @include botones(black, white, 24px, block);
    margin: auto;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  .boton__servicio2:hover {
    background-color: #000000;
    color: white;
  }

  .boton__servicio3{
    @include botones(black, white, 24px, block);
    margin: auto;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  .boton__servicio3:hover {
    background-color: #000000;
    color: white;
  }