.serviciosGrilla{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "div1 div2 div3"
                         "div1 div2 div3"
                         "div1 div2 div3";
    margin-left: 50px;
}

.servicios__div1{
    background-image: url(../images/cardStandard.png);
    background-position: center top;
    background-size: cover;
    grid-area: div1;
    border-radius: 20px;
    justify-content: space-between;
    border-style: inset;
    width: 90%;
}

.servicios__div2{
    background-image: url(../images/cardPremium.png);
    background-position: center top;
    background-size: cover;
    grid-area: div2;
    border-radius: 20px;
    justify-content: space-between;
    border-style: inset;
    width: 90%;
}

.servicios__div3{
    background-image: url(../images/cardDeluxe.png);
    background-position: center top;
    background-size: cover;
    grid-area: div3;
    border-radius: 20px;
    justify-content: space-between;
    border-style: inset;
    width: 90%;
}